# 最初にすべての階層のファイルを無視する
### all ignore ###
/*
/.**

### not ignore ###
!/scripts/
!/scripts/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/fish/
!/.config/fish/**
!/.config/tmux/
!/.config/tmux/**

!/README.md
!/install.sh
!.gitignore
